//<FORM>
// Сніппет (HTML):
.form {
	&__row {
		display: flex;
		// justify-content: space-between;
		@include adaptiveValue('column-gap', 56, 20, 0, $maxWidthContainer, 768);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: toRem(24);
		}
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: toRem(12);
	}
	&__line {
	}
	&__label {
		@include adaptiveValue('font-size', 18, 14);
		line-height: 1.5;
		._form-error & {
			color: #bf2020;
		}
	}
	&__input {
	}
	&__button {
		@media (max-width: $mobile) {
			margin-top: toRem(8);
		}
		min-width: 100% !important;
		@include adaptiveValue('font-size', 18, 12);
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import 'button';

// <INPUTS>
// Сніппет (HTML): inp
@import 'input';

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import 'datepicker';
